<span style="font-size: .75rem; font-weight: normal;"><%= note.language.name%>, </span>
<% note.topics.each do |topic| %>
  <span style="font-size: .75rem; font-weight: normal;"><%= topic.name%>, </span>
<% end %>