<h6>
  <span class="badge badge-pill text-white" style="background-color: <%= note.language.display_color %>;">
    <%= note.language.name%>
  </span>
  <% note.topics.each do |topic| %>
    <span class="badge badge-pill text-white" style="background-color: <%= topic.display_color %>;">
      <%= topic.name%>
    </span>
  <% end %>
</h6>