<div class="row justify-content-center my-2">
  <span class="mx-2">Notes by: </span>
  <input type="radio" name="terms[user]" id="terms_user_me" value="me" checked>
  <span class="mx-2" for="terms_user_me">me</span>
  <input type="radio" name="terms[user]" id="terms_user_others" value="others">
  <span class="mx-2" for="terms_user_others">others</span>
  <input type="radio" name="terms[user]" id="terms_user_both" value="both">
  <span class="mx-2" for="terms_user_both">both</span>
</div>