<h1><%= @language.name %></h1>
<%= link_to "Add Resource", edit_language_path(@language) %>
<ul>
  <% @topics.each do |topic| %>
    <li><%= link_to topic.name, language_topic_path(@language, topic)  %></li>
  <% end %>
</ul>